[submodule "gtk/.themes/Fantome-Blue"]
	path = gtk/.themes/Fantome-Blue
	url = https://github.com/rharish101/Fantome-Blue
[submodule "tmux/.tmux-themepack"]
	path = tmux/.tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "vim/.vim"]
	path = vim/.vim
	url = https://github.com/rharish101/vim-config
